header.header
  .header__column
    a(href=routes.home) Handy gym
  .header__column
    ul
      if loggedUser
        if loggedUser.isTrainer
          li
            a(href=routes.trainerMe)
              i.far.fa-user-circle
          li
            a(href=routes.logout)
              i.fas.fa-power-off
        else
          li
            a(href=routes.trainers)
              i.fas.fa-dumbbell 
          li
            a(href=routes.me)
              i.far.fa-user-circle
          li
            a(href=routes.logout)
              i.fas.fa-power-off
      else
        li
          a(href=routes.join)
            i.fas.fa-user-plus
        li
          a(href=routes.login)
            i.fas.fa-sign-in-alt
      
         
        
  