extends layouts/main

block content
  .container
    .detail
      .detail__column
        if user.id === loggedUser.id
          a(href=`/users${routes.userEditProfile}`)
            .upload__wrapper
              div 편집
        .detail__img
          if user.avatarUrl
            img(src=`/${user.avatarUrl}`)
          else
            img(src=`../../static/images/no-profile.jpg`)
        .detail__info
          .detail__name=user.name
          .detail__gender-age
            if user.gender === "남자"
              span 남
              i.fas.fa-mars(style="color:blue")  
            else 
              span 여
              i.fas.fa-venus(style="color:red")
            span=`${user.age}대`
          .detail__email
            i.far.fa-envelope
            span=user.email
    
      