mixin talentCheckbox(for_key,for_name,for_value,for_check)
  li
    input(type="checkbox", name=`${for_name}`, id=`${for_key}`, value=`${for_value}` checked=(for_check===true ? "checked": undefined))
    label(for=`${for_key}`)=`${for_value}`