extends layouts/main

block content
  .form__container
    form(action=`/users${routes.userEditProfile}`, method="post", enctype="multipart/form-data")
      .update__avatar
        label(for="jsAvatar")
          input(type="file" id="jsAvatar" name="userAvatar" occept="image/*" )
          .avatarImg-container
            if loggedUser.avatarUrl
              img(src=loggedUser.avatarUrl id="jsAvatarImg", class="avatarImg")
            else 
              if loggedUser.gender === "남자"
                img(src=`../../static/images/male_avatar.png`, id="jsAvatarImg", class="avatarImg")
              else if loggedUser.gender === "여자"
                img(src=`../../static/images/female_avatar.png`, id="jsAvatarImg", class="avatarImg")
      .gender__wrapper
        select(name="age" id=loggedUser.age)
          script.
            const select = document.querySelector("select[name=age]")
            const age = parseInt(select.id);
            for(var i=10; i<=60; i=i+10)
              if(i === age) {
                  document.write(`<option value=${i} selected>${i}대</option>`)
                }
              else {
                  document.write(`<option value=${i}>${i}대</option>`)
                }
        .form__gender
          if loggedUser.gender === "남자"
            label(for="male" style="color:skyblue") 
              input(type="radio", name="gender",id="male", value="남자" checked)
              i.fas.fa-male
            label(for="female" style="color:pink")
              input(type="radio", name="gender",id="female", value="여자")
              i.fas.fa-female
          else
            label(for="male" style="color:skyblue") 
              input(type="radio", name="gender",id="male", value="남자" )
              i.fas.fa-male
            label(for="female" style="color:pink")
              input(type="radio", name="gender",id="female", value="여자" checked)
              i.fas.fa-female
      input(type="text", name="nickname", placeholder="닉네임" autocomplete="off",value=`${loggedUser.nickname}`)
      input(type="submit", value="업데이트완료")