mixin healthBlock(elem={})
  .container
    a(href=routes.healthDetail(elem.id))
      .wantHealth
        .wantHealth__column
          .nickname=elem.nickname
          if elem.avatarUrl
            img(src=elem.avatarUrl)
          else 
            i.fas.fa-user-circle
          .user-info
            if elem.gender === "남자"
              span 남
              i.fas.fa-mars(style="color:blue")  
            else 
              span 여
              i.fas.fa-venus(style="color:red") 
            span.age=elem.age
        .wantHealth__column
          .category=elem.category
          .program=elem.program
          .like__btn
            if elem.address.length > 1
              span=`${elem.address[0]} 등 ${elem.address.length}개`
            else 
              span=elem.address
            i.far.fa-heart